/* override maincontent to use full flex width */
.maincontent {
  flex: 1;
  width: auto;
}

/* inside words view */
.words-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.words-sidebar {
  width: 40%;
  flex: none;
  padding: 1rem;
}

.word-details {
  flex: 1;
  padding: 1rem;
  background-color: #cfd8e6;
}

.word-search {
  width: 85%;
  margin: 3px;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  font-size: 1rem;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  color: #a2caa5;
  font-weight: bolder;
}

.word-search:focus {
  outline: none;
  box-shadow: 0 2px 12px rgba(0,0,0,0.2);
}

.word-search::placeholder {
  color: #cedbbf;
  font-style: italic;
}

/* style the word-list */
.word-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.word-list li {
  cursor: pointer;
  padding: 0.5em;
  margin-bottom: 0.3em;
  border-radius: 4px;
  
}

.word-list li:hover{
  background-color: #373b46 !important;
  color: #ffffff;
  font-weight: bolder;
}

/* alternate very subtle backgrounds */
.word-list li:nth-child(odd) {
  background-color: #d4b6b6;
}

.word-list li:nth-child(even) {
  background-color: #c9b1b1;
}

/* bold the Thai script */
.word-list .thai {
  font-weight: bold;
}

.add-word-btn {
  background: #5b665a;
  color: #fff;
  border: none;
  border-radius: 30%;
  width: 1.8em;
  height: 1.8em;
  font-size: 1.15em;
  font-weight: bold;
  margin-left: 0.4em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.15s, box-shadow 0.15s;
  box-shadow: 0 1px 3px rgba(80,120,60,0.08);
  outline: none;
}

.add-word-btn:hover,
.add-word-btn:focus {
  background: #485746;
}

.add-word-btn:active {
  background: #495e46;
}
